{% extends 'layouts/base.html' %}

{% load static %}
{% load humanize %}

{% block internalStyle %}
<style>
    .green{
        color:green;
        font-size:1.2rem;
    }

</style>
{% endblock internalStyle %}

{% block content %}
<div class="container">
<br>
<h1>Teach on Hogwarts</h1>
<br>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
    {% endfor %}
</ul>
{% endif %}
<h3 align="center">
    <i class="fa-solid fa-door-open"></i>
    Welcome
    <i class="fa-solid fa-door-open"></i>

</h3><br>
<img src="{% static 'images/info_banner.png' %}" alt="info" width="770" height="200" style="vertical-align:middle;margin:auto auto"/>
<br>
<div class="form-group">
    <form class="mb-3" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label">{{form.title.label_tag}}</label>
            {{form.title}}
        </div>
        <div class="mb-3">
            <label>CATEGORY</label>
                {{form.category}}
        </div>

        <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label">Short Description:</label>
            {{form.short_description}}
        </div>

        <div class="form-group">
            <label for="exampleFormControlTextarea1">Description:</label>
            <textarea name="description" class="form-control" id="f4" rows="3" required placeholder='Enter description'></textarea>
        </div>

        <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label">Outcome:</label>
            {{form.outcome}}
        </div>

        <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label">Requirements:</label>
            {{form.requirements}}
        </div>


        <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label">Language:</label>
            {{form.language}}
        </div>

        <div class="mb-3">
            <label>PRICE ($)</label>
            {{form.price}}
        </div>

        <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label">Level:</label>
            {{form.level}}
        </div>
        <div class="mb-3">
            <label for="formGroupExampleInput2"  class="form-label">Video URL:</label>
            {{form.video_url}}
        </div>

        <div class="mb-3">
            <label>Thumbnail:</label>
            {{form.thumbnail}}
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
<br>
</div>

{% endblock %}